<div class="container">
	<div class="row">
		<div class="col-sm-2">
			<div>
				<label>First Name</label>
			</div>
			<div>
				<label>Last Name</label>
			</div>
			<div>
				<div>
					<label>Street Name</label>
				</div>
				<div>
					<label>City</label>
				</div>
				<div>
					<label>State</label>
				</div>
				<div>
					<label>zip</label>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<form [formGroup]="profileEditorForm" (ngSubmit)="onSubmit()">
				<div>
					<input type="text" formControlName="firstName">
				</div>
				<div>
					<input type="text" formControlName="lastName">
				</div>
				<div formGroupName="address">
					<div>
						<input type="text" formControlName="street">
					</div>
					<div>
						<input type="text" formControlName="city">
					</div>
					<div>
						<input type="text" formControlName="state">
					</div>
					<div>
						<input type="text" formControlName="zip">
					</div>
				</div>
				<button type="submit" [disabled]="!profileEditorForm.valid">Submit</button>
				<button type="submit" (click)="updateProfile()">Update Profile</button>

			</form>
		</div>
	</div>
</div>
